.content-body {
    max-width: 1300px;
}

.content-form .btn,
.content-form .btn:hover {
    background: #267BA9;
}

.content-body h1 {
    color: #267BA9;
}

.subtitle {
    color: #243A69;
}

.subtitle a {
    font-size: 12px;
}

.text-user {
    font-size: 14px;
}